/* CSS variables */
:root {
    --primary-color: #D79922;
    --secondary-color: #EFE2BA;
    --third-color: #F13C20;
    --font-size-base: 16px;
    --font-family-base: Arial, sans-serif;
}

/* Global styles */
body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: #333;
    margin: 0;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */
.cart-button {
    background-color: var(--primary-color);
    color: #4056A1;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
}

.cart-badge {
    background-color: var(--secondary-color);
    color: #4056A1;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    font-size: 0.8em;
}

/* Items grid styles */
.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    margin-top: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbe9d0;
    border: 1px solid #fbe9d0;
    border-radius: 3px;
    padding: 1em;
}

.item h2 {
    margin-top: 0.5em;
}

.item p {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.add-to-cart-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: auto;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show-modal {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #ccc;
    max-width: 600px;
}

.close {
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.cart-items li span {
    margin-left: 0.5em;
}

.cart-total {
    font-weight: bold;
}

.buy-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 1em;
}


.remove-from-cart-btn {
    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3em 0.7em;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    line-height: 1.2;
    max-height: 30px;
  }
  
.remove-from-cart-btn:hover {
    background-color: var(--third-color);
}

.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
  
#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1; 
}
  
#search-button, #show-button {
    padding: 10px 20px;
    background-color: var(--primary-color); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

